@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    /* background-color: #131316;
    color: #f8f0E5; */
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 120vh;
    font-family: 'Poppins', sans-serif;
}

.app {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* font-family: 'Poppins', sans-serif; */
    background:
        linear-gradient(
            95deg,
            rgba(166, 220, 235, 0.7),
            rgba(253, 227, 108, 0.6)
        );

    /*  alternate color scheme:
        #f5e1c0 as background
        #eacfa2 as header
        #fac670 as something else
    */
}
.navbar {
    background-color: #1d1e1f;
    color: #D8D9DA;
    font-family: 'Poppins', sans-serif;
    /* background-color: #F5EFE7; */
    position: sticky;
    top: 0;
}
.navbar-item .active {
    padding-bottom: 8px;
    border-bottom: 3px solid var(--secondary-color);
}

.home {
    font-family: 'Poppins', sans-serif;
    /* background-color: #f2c87d; */
    /* color: #D8D9DA; */
    color:#4b5057;
    font-size: 20px;
}
.home .title {
    font-size: 80px;
    font-weight: 600;
}
.home .subtitle {
    font-size: 40px;
}

.about {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    min-height: 100vh;
    /* background:
        linear-gradient(
            105deg,
            rgba(166, 220, 235, 0.4) 20%,
            rgba(253, 227, 108, 0.8)80%
            ); */
    color: #4b5057;
}


.mission {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    /* background:
        linear-gradient(
            #fde36c,
            #a6dceb
            ); */
    color: #4b5057;
    min-height: 80vh;
}

.team {
    font-family: 'Poppins', sans-serif;
    /* background: */
        /* linear-gradient(
            #a6dceb,
            #fde36c
            ); */
    color: #4b5057;
    min-height: 220vh;
}

.team .title {
    margin: 10;
    font-size: 60px;
    font-weight: bold;
}

.team .head {
    font-size: 20px;
}
.team .desc {
    font-size: 15px;
    font-size: italic;
}

.gallery {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    /* background:
        linear-gradient(
            #fde36c,
            #a6dceb
            ); */
    color: #4b5057;
}

.gallery .title {
    font-size: 60px;
    font-weight: bold;
}

.sponsors {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    /* background:
        linear-gradient(
            #a6dceb,
            #fde36c
            ); */
    color: #4b5057;
}

.sponsors .title {
    font-size: 40px;
    font-weight: bold;
}

.contact {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    /* background:
        linear-gradient(
            #a6dceb,
            #fde36c,
            ); */
    color: #4b5057;
}

.contact .title {
    font-size: 40px;
    font-weight: bold;
}

footer {
    color: #4b5057;
}
